@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FugazOne';
  src: url('/fonts/FugazOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}
